  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      
    <p style="font-size:48px;font-weight:bold;text-transform: uppercase;">Contact </p>


    <pre>$location.path() = {{$location.path()}}</pre>
	  <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
	  <pre>$route.current.params = {{$route.current.params}}</pre>
	  <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
	  <pre>$routeParams = {{$routeParams}}</pre>


    </div>
  </div>
</div>
