<form id="login-form" ng-submit="login()">
    <div class="login-logo">&nbsp;</div>
    <div class="login-title">Sign In</div>
    <div class="row" ng-repeat="error in errors">
        <div class="alert alert-danger">
            {{error}}
        </div>
    </div>
    <div class="form-group" style="margin-bottom:0;">
        <input  type="text" class="form-control" ng-model="username" placeholder="Username" />
        <span class="glyphicon glyphicon-user icon-user" aria-hidden="true" style="font-size: 18px;color:#808080;margin-top:2px;"></span>
    </div>
    <div class="form-group">

        <input type="password" class="form-control" ng-model="password" placeholder="Senha" />
        <span class="fa fa-lock icon-lock" style="font-size: 22px;color:#808080;margin-left:2px;margin-top:2px;"></span>
    </div>
    <div class="form-group checkbox" style="display:none;">
        <label class="pull-right">
            <input type="checkbox" id="login-form-remember-me-checkbox" checked ng-model="persist" />
            Remember Me
        </label>
    </div>
    <div class="form-group">
        <input type="Submit" id="login-form-submit-button" class="btn btn-success btn-block" value="Acessar">
    </div>
    <div class="form-group login-service-links">
        <a href="/user/forgotpassword" class="col-sm-6"  >Resetar Senha</a>
        <a href="/signup" class="col-sm-6" style="text-align:right;">Cadastre-se</a>
    </div>
</form>
<style>
    body { background-image:url(//cdn.onyximports.com.br/img/home/city-wallpaperbw.jpg);}
</style>